/* style.css */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Set the height of the body to 100% of the viewport height */
    background: url('https://source.unsplash.com/1920x1080/?food') center/cover no-repeat;
    color: #fff;
}

header {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.search-section {
    text-align: center;
    margin-top: 20px; /* Adjust the top margin for spacing */
}

.search-container {
    max-width: 800px;
    justify-content: center;
}
.search-bar {
    flex: 1;
    width: 100%; /* Ensures the search bar takes up the entire width of the container */
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px 0 0 5px;
}
button {
    width: 30%;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #e74c3c;
    color: #fff;
    cursor: pointer;
}

input:focus {
    outline: none;
}

button:hover {
    background-color: #c0392b;
}
